a.search-result-item-link:hover {
    text-decoration: none;
}

.search-result-items {
    padding-left: 40px;
    padding-right: 25px;
    margin-top: 40px;
}

.search-result-item {
    width: 15rem;
    margin: 25px;
    background-color: #ecf0f1!important;
}

.search-result-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-result-item-poster {
    padding-bottom: 10px;
}

.search-result-item-description {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.search-result-item-name {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.search-result-item-year {
    font-size: 8pt;
    border-style: solid;
    border-radius: 2pt;
    border-width: 1px;
    width: 30px;
    text-align: center;
    float: right;
    color: rgb(34, 34, 34);
}

.search-result-item-genre {
    font-size: 8pt;
    padding-left: 10px;
    padding-bottom: 10px;
    color: rgb(87, 87, 87);
}

.search-result {
    min-height: 450px;
}

.search-result-not-found {
    font-size: 35pt;
    padding-top: 180px;
    text-align: center;
    color: darkgray;
    min-height: 450px;
}