.header {
    min-height: 300px;
    background-image: url('../../static/header-background.jpg');
    background-position: 28px -80px;
    background-repeat: repeat;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 35px;
}

.search {
    padding-top: 35px;
}

.submit {
    float: right;
}

.search-by-button-active {
    background-color: #2C3E50!important;
}

.search-by-button {
    margin-left: 10px;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.title {
    font-weight: bold;
    position: relative;
    font-size: 14pt;
}

.header-top-search-button {
    float: right;
    color: #f55363;
}

#inputSearch {
    color: black;
}