html {
    scroll-behavior: smooth
}

.content {
    min-height: 350px;
}

.footer {
    height: 60px;
    background-color: #424242;
    padding-left: 50px;
    padding-top: 17px;
    font-weight: bold;
    font-size: 14pt;
}

.white-font {
    color: white;
}

.red-font {
    color: #f55363;
}

.env-mode {
    float: right;
    padding-right: 50px;
    color: gray;
}

a {
    color: #f55363!important;
}

a.active {
    color: #212529!important;
}

a.active:hover {
    text-decoration: none;
    cursor: default;
}

.card {
    border-style: none!important;
}