.film-info {
    padding-top: 50px;
    height: 430px;
    color: silver;
}

.film-info-poster {
    float: left;
    margin-right: 50px;
    width: 200px;
}

.film-info-description-wrapper {
    padding-top: 20px;
    float: left;
    width: 500px;
    font-weight: bold;
}

.film-info-name-and-rating-wrapper {
    width: 100%;
}

.film-info-name {
    color: #f55363;
    font-size: 20pt;
    font-weight: bold;
    margin-right: 50px;
}

.film-info-rating {
    color: green;
    font-size: 12pt;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    font-weight: normal;
    position: relative;
    top: -4px;
}

.film-info-year-and-length-wrapper {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.film-info-year {
    margin-right: 30px;
}

.film-info-description {
    margin-bottom: 20px;
}

.film-info-director {
    font-weight: normal;
    font-size: 10pt;
    margin-bottom: 10px;
}

.film-info-cast {
    font-weight: normal;
    font-size: 10pt;
}

.film-info-error {
    text-align: center;
    color: red;
    font-size: 16pt;
}