{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": ["error", "windows"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
    "max-len": [2, 150, 4, {"ignoreUrls": true}]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}